/* Reset some default browser styles to provide a consistent base */

/* Add additional styles as needed for your specific content and design */

.about h1 {
    font-size: 1.5em;
    font-family: 'Arial', sans-serif; /* Added font style */
}

.about img {
    max-width: 300px;
    height: auto;
}

.about {
    background-color: #ede7de;
    font-family: 'Arial', sans-serif; /* Added font style */
}